.containerHeader {
  border-bottom: 1px solid #eaeaea;
}

#rectangle {
  /* position: absolute; */
  width: 143px;
  height: 51px;
  /* left: 246px; */
  margin-top: 14px;

  background-color: #208b82;
}

#contact {
  /* position: absolute; */
  width: 121px;
  height: 29px;
  margin-top: 26px;
  margin-bottom: 25px;
  margin-left: 8px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17.5px;
  line-height: 28px;

  color: #007a70;
}

#phone {
  width: 16px;
  height: 16px;
  margin-bottom: 32px;
  margin-top: 32px;
  left: calc(50% - 16px / 2);
  top: calc(50% - 16px / 2 - 0.5px);
}

h1 {
  /* position: absolute; */
  width: 170px;
  height: 58px;
  /* left: calc(50% - 170px / 2 - 352px);
  top: 111px; */
  margin-top: 31px;

  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 500;
  font-size: 57.2px;
  line-height: 57px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #747474;
}

p {
  /* position: absolute; */
  width: 490px;
  height: 29px;
  /* left: calc(50% - 490px / 2 - 192px);
  top: 181px; */

  /* body-p-desktop */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6px;
  line-height: 29px;

  /* body-text */
  color: #333333;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #1c355e;

  padding-top: 32px;
}

footer p {
  /* position: relative; */
  /* height: 29px; */
  /* left: 469px;
  right: 468px; */
  /* top: 32px; */

  /* large-body-desktop */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6px;
  line-height: 28px;

  /* identical to box height, or 160% */

  text-align: center;

  /* White */

  color: #ffffff;
}

.navbox {
  margin-top: 24;
}
