.buttonDateActive {
  width: 106px;
  height: 93px;
  background: #208b82;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;

  text-align: center;

  color: #ffffff;
}

.buttonDate {
  width: 106px;
  height: 93px;
  margin-right: 7px;

  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;

  text-align: center;

  color: #747474;
}
