* {
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 1366px;
  height: 1773px;
  margin: auto;

  background: #ffffff;
}
.slick-dots li button:before {
  color: #7fbcb7;
  font-size: 14px;
  padding-top: 1px;
}

.slick-dots li.slick-active button:before {
  align-self: flex-start;
  height: 20px;
  width: 20px;
  background-color: #007a70 !important;
  color: #7fbcb7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
